     <!-- here -->
      <div class="main_wrapper fixed flex flex-col bg-pink-300 p-3 
       "
       
       style="grid-column-start: 1;">
  <span class="people_says_form_btn
   cursor-pointer
   bg-blue-400  text-sm rounded-md p-2">
     Add Place
  </span>
   
   <!-- for the additiong of thing i have done -->
 <a href="/Place/all" 
 class="people_says bg-blue-400 
    cursor-pointer text-sm rounded-md p-2">
    <span >
All
</span> 
</a> 
   
 </div>
        
