<div class="header_wrapper w-screen flex flex-row justify-center text-center p-3">
 
     <div class="snippet bg-blue-400
      rounded-lg text-xl font-light ">

  
     <span class="name_thng">
         Boring
     </span>
       
     <!-- <a href=""></a> -->
     <nav>
        <span> 
            View 
         </span> 
           
          <span>
             Cool
          </span>
     </nav>
     </div>
</div>
 <%- include('form_people_say.ejs') %>